# Build and binary files
build/
bin/
obj/
*.o
*.obj
*.gch
*.pch
*.exe
*.out
*.app
*.png
*.bitc
*.bitscript

# Save and logs
save/
assets/

debug.log
*.log

# IDE and System files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# CMake temporary files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
